<main class="container-fluid">
    <!-- Imagen de cabecera recortada-->
    <div>
        <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/cabeceraRecortada.png" id="imagenCabecera">
    </div>
    
    <div>
        <!-- <img src="C:/Users/alexx/Documents/DAWM_proyectos/DAWM_Proyectos/Proyecto03/recursos/imagenes/filtro.jpg" 
        class="rounded mx-auto d-block img-thumbnail border-0 shadow-4-strong" 
        alt="fantastic-beasts-the-crimes-of-grindelwald"> -->
        <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/seccionFiltro.jpg" id="imagenMedio">
    </div>
</main>