<main>
    <div>
        <a href="https://www.esports.net/crypto/games/rollercoin/">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/rollercoin-review.jpg" alt="RollerCoin">
        </a>   
    </div>
    <div>
        <a href="https://www.publish0x.com/theminingblog/an-honest-review-about-pipeflare-updated-xgllwpj">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/pipefalre.png" alt="PipeFlare">
        </a> 
    </div>
    <div>
        <a href="https://www.publish0x.com/free-crypto-news2/earning-passive-income-through-bitcoinmania-game-my-first-si-xglnndg">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/bitcoinmain.png" alt="BitcoinMania">
        </a>
    </div>
    <div>
        <a href="https://coinmarketcap.com/">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/coinmarketcap.png" alt="CoinMarketCap">
        </a>
    </div>
    <div>
        <a href="https://www.coinbase.com/es-LA/">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/coinbase.png" alt="CoinBase">
        </a> 
    </div>
    <div>
        <a href="https://freecash.com/">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/freecash.jpg" alt="FreeCash">
        </a>
    </div>
    <div>
        <a href="https://coinhunt.world/">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/coinhuntworld.png" alt="CoinHuntWorld">
        </a>
    </div>
    <div>
        <a href="https://www.cryptopopcoin.com/">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/cryptopopcoin.png" alt="CryptoPopCoin">
        </a>
    </div>
    <div>
        <a href="https://brave.com/es/brave-rewards/">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/brave.png" alt="Brave Rewards">
        </a>
    </div>
    <div>
        <a href="https://lunarcrush.com/lunr">
            <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/Seccion%20earn/lunr.jpg" alt="Lunr">
        </a>
    </div>
</main>
