<main class="container-fluid">
    <!-- Imagen de cabecera recortada-->
    
    <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/cabeceraRecortada.png" id="imagenCabecera">
    

    <table class="table table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Coin</th>
                <th>Precio</th>
                <th>Price Change</th>
                <th>24h Volume</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let coin of coins; let i = index">
                <td>
                    {{i + 1}}
                </td>
                <td>
                    <img [src]="coin.image" alt="{{coin.name}}" style="width: 2rem">
                    <span class="ms-3">
                        "{{coin.name}}"
                    </span>
                    <span class="text-muted text-uppercase ms-2">
                        {{coin.symbol}}
                    </span>
                </td>
                <td>
                    ${{coin.current_price.toLocaleString()}}
                </td>
                <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'">
                    {{coin.price_change_percentage_24h.toLocaleString()}}
                </td>
                <td>
                    {{coin.total_volume.toLocaleString()}}
                </td>
            </tr>
        </tbody>
    </table>

        
</main>
