<main class="container-fluid">
    <!-- Imagen de cabecera recortada-->
    
    <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/cabeceraRecortada.png" id="imagenCabecera">
    

    <table class="tablaGeneral">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Ch. 24h</th>
            <th>MarketCap</th>
            <th>Current Supply</th>
        </tr>
    </table>
        <div class="col" *ngFor="let general of infoGeneral">     
            <table class="tablaGeneral" style="width:100%">
                <tr>
                    <td style="width:175px">"{{general.name}}"</td>
                    <td style="width:70%">"{{general.current_price}}"</td>
                    <td style="width:70%">"{{general.price_change_24h}}"</td>
                    <td style="width:70%">"{{general.market_cap}}"</td>
                    <td style="width:70%">"{{general.circulating_supply}}"</td>
                </tr>
            </table>      
        </div>

        
</main>