/* **************** */
/* Para la cabecera de la pagina*/
#cabecera{
    background-color: yellow;
}
/* **************** */
/* Para el contenedor seccionConsulta */
#seccionConsulta{
    align-content: center;
}

.filtroOpcion{
    background-color: pink;
    border-style: solid;
}

#infoCripto{
    background-color: rgb(171, 171, 221);
    border-style: solid;
}
/* **************** */

/* para el contenedor que va a cpntener las imgenes */
#seccionGraficos{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: red;
}
 /* para los div donde se van a ubicar las imagenes */
#iconosMonedas1{
    background-color: yellow;
    display:flex;
    flex-direction: row;
    /* padding: 5%;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px; */
}

.iconosMonedas1{
    background-color: yellow;
    display:flex;
    flex-direction: row;
}

.iconosMonedas2{
    background-color: rgb(129, 129, 0);
    display:flex;
    flex-direction: row;
}

/* par los div de los graficos, van a teenr los filtros como las imagenes*/
#grafico1{
    display:flex;
    flex-direction: column;
    border-style: solid;
    background-color: lightblue;
}

#grafico2{
    display:flex;
    flex-direction: column;
    border-style: solid;
    background-color: lightgreen;
}

 /* para los div donde se van a ubicar las imagenes */
.imagen1{
    width: 95%;
    height: 95%;
    margin: 10px;
    border-style: solid;
}

.imagen2{
    width: 95%;
    height: 95%;
    margin: 10px;
    border-style: solid;
}

#imagOpcion2_0{
    background-color: #fe5652;

	
}

#imagOpcion2_1{
    background-color: #fe5652;

	
}

#imagOpcion2_2{
    background-color: #fe5652;

	
}

/* GRID ES PARA LAS DIVISIONES DE LA PAGINA */
/* FLEX ES PARA ALINEACION DE LOS ELEMENTOS INTERNOS */
/* **************** */

/* ESTILOS PARA LOS GRAFICOS */
/* variacion del contendor de grafico de la imagen */
#graficoInterno1{
    height: 500px;
    width: 100%;
}

/* para la tabla que va adentro de este */ 
#my-chart.line {
    height: 100%;
    max-width: 100%;
}

#graficoInterno2{
    height: 500px;
    width: 100%;
}

/* para la tabla que va adentro de este */ 
#my-chart.line {
    height: 100%;
    max-width: 100%;
}