<main class="container-fluid">
    <!-- Imagen de cabecera recortada-->
    <div>
        <img src="https://raw.githubusercontent.com/DavidAlex99/DAWM_Proyectos/main/Proyecto03/recursos/imagenes/cabeceraRecortada.png" id="imagenCabecera">
    </div>



    <div class="col" *ngFor="let noticia of infoNews"> 
        <span>no entra</span>
        <!-- <img mat-card-image src="{{noticia.articles[1].source}}" alt="Photo of a Shiba Inu"> -->
        <span>"{{noticia.name}}"</span>
        
    </div>
</main>